*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 236, 227);

}
/*header part for iindex page*/

header {
    background-color:rgb(133, 224, 77) ;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-bar{
    display: none;
}

.upperlayer {
  background-color: rgb(207, 246, 169);
    border-radius: 10px;
    padding-bottom: 25px;
}

header img{
   position: relative;
   top: 1rem;
   margin-left: 1rem;

}
header .icon{
    margin-bottom: 1rem;
}

nav {
    text-align: right;
    margin-right: 1rem;
}

nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 1.5rem;
    color: black;
}

.nav-bar a:hover {
    background-color: rgb(181, 243, 143);
    padding: 1rem;
    border-radius: 40px;
}
/* main page for index page*/
main {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    margin: 7.4rem;
    border-radius: 30px;
    background-color: rgb(207, 248, 165);
    box-shadow: 5px 5px 5px 5px rgb(56, 92, 3);
}
main p{
    margin: 1rem;
}
main img{
   margin-top: 5rem;
    margin-bottom: 2rem;
    border-radius: 30px;
}
main button{
    position: relative;
    left: 100px;
    background-color: rgb(100, 147, 30);
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: salmon;
    box-shadow: 3px 3px 3px 3px rgb(54, 112, 3);
}
main button:hover,button:active{
    box-shadow: none;
}
.image h1{
    display: none;
}
/* gobacke arrow for evry page*/
.fa-arrow-left{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-left: .6rem;
    margin-top: .2rem;
    margin-bottom: 2rem;
     background-color: rgb(205, 244, 146);

}
.fa-arrow-left:hover{
    color: white;
    background-color: black;
}
.goback-arrow a:hover{
    background-color: none;
     padding: 0;
    border-radius: 0px;
}
/*header for evry page expect index*/
.heading {
    text-align: center;
     padding: 20px;
     padding-top: 0;
    font-size: 3rem;
    /* border-bottom: 5px solid rgb(96, 47, 47); */
}
.heading h1{
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(61, 52, 52);
}
.heading:hover h1{
    background-color: rgb(95, 238, 97);
}
/* my skill page styling*/
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}
.skills img{
    width: 150px;
    height: 150px;
    margin: 30px;
    padding: 30px;
    border: 3px solid rgb(78, 88, 11);
    border-radius: 15px;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 5rem;
}
.box:hover {
    transition: all 1s ease 0;
    transform:translateY(-20px);
    box-shadow: 2px 2px 3px 3px rgb(136, 147, 48);
}

.skill1:hover .img1{
    background-color: rgb(142, 240, 118);
}
.skill2:hover .img2{
     background-color: rgb(142, 240, 118);
    
}
.skill2:hover .img2{
    background-color: rgb(142, 240, 118);
}
.skill3:hover .img3{
     background-color: rgb(142, 240, 118);
}
.skill4:hover .img4{
     background-color: rgb(142, 240, 118);
    }
.skill5:hover .img5{
     background-color: rgb(142, 240, 118);
}
.skill6:hover .img6{
     background-color: rgb(142, 240, 118);
}
.skill7:hover .img7{
     background-color: rgb(142, 240, 118);
}
.skill8:hover .img8{
     background-color: rgb(142, 240, 118);
}

.skill-name{
    font-size: 2rem;
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 190px;
    text-align: center;
    text-align: center;
}
/* mt projects styling page*/
.poject-skill{
    display: flex;
    flex-direction: column;
}
.projects{
    display: flex;
    flex-direction: row;
   justify-content: center;
    flex-wrap: wrap;
   text-align: center;
}
.project{
   display: flex;
    flex-direction: column;
    width: 230px;
    border: 1px solid black;
     margin: 5rem;
    margin-top:5rem;
   padding: 10px;
    border-radius: 10px;
   text-align: center;
}
.project:hover {
    transition: all 1s ease 0;
    transform:translateY(-20px);
    box-shadow: 2px 2px 3px 3px rgb(136, 147, 48);
}
.project img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.project .img{
     font-size: 1.2rem;
    border-bottom: 2px solid;
   /* margin-bottom: 1rem;*/
    padding-top: 8px;
}
.project button{
    width: 90%;
    padding: 3px;
    margin: .5rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: rgb(6, 62, 104);
    color: white;
    box-shadow: 2px 2px 2px 2px black;
    border: none;
}
.project button:hover{
    background-color: darkblue;
}

.project .btn{
    background-color: rgb(237, 128, 219);
    color: black;
}
.project .btn:hover{
    background-color: purple;
}
/*contact page styling*/

.contact-info{
    
    width:600px;
    color:black;
   margin-left: auto;
    margin-right: auto;
    padding:1rem;
  /*  border: 2px solid black;*/
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px green;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.social i{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 50px;
}
.fa-youtube{
    color: red;
    background-color: white;
}
.fa-youtube:hover{
    color: white;
    background-color: red;
}
.fa-instagram{
    color: purple;
    background-color: white;
}
.fa-instagram:hover{
    background-color: purple;
    color: white;
}
.fa-linkedin-in{
    color: blue;
    background-color: white;
}
.fa-linkedin-in:hover{
    color: white;
    background-color: blue;
}
.fa-github{
    color: black;
    background-color: white;
}
.fa-github:hover{
    color: white;
    background-color: black;
}
.contact{
   /* border-top:  1px solid;*/
    padding: 6px;
    margin-top: 1px;
     padding-top: 12px;
}
.contact img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact .profile{
    box-shadow: 2px 2px 2px 2px rgb(14, 22, 1);
    border-radius: 20px;
    text-align: center;
}
.profile{
    padding: 2px;
    padding-top: 30px;
}
.profile h3{
    margin-top: 1.5rem;
}
.contact form{
  /* border: 1px solid;*/
    padding: 10px;
  border-radius: 20px;
}
.contact-heading h1{
    font-size: 2rem;
    border-bottom: 1px solid black;
    text-align: center;
}
.contact-form {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}
form label{
    line-height: 3rem;
    font-size: 1.3rem;
    text-align: left;

} 
.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.contact-info input,textarea{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}
.contact-btn{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(31, 241, 16);
    border: 3px rgb(43, 109, 8);
    border-radius: 10px;
    box-shadow: 2px 3px 3px 2px rgb(78, 201, 7);
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
}
.contact-btn:hover {
    background-color: rgba(107, 109, 8, 0.811);
    box-shadow: 2px 3px 3px 2px rgba(88, 90, 9, 0.811);
    color: white;

}
.contact-btn:active{
    box-shadow:  0 0 0 0;
}
/* ecperience styling */
.experience button:hover{
    box-shadow: 1px 1px 1px 1px;
}

.experience-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
    align-items: center;
}
.experience:hover{
    box-shadow: 3px 3px 3px 3px;
    border-radius: 20px;
}
.experience{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
     padding: 20px;
    align-items: center;
    margin:0 20px;
}
.experience h2{
    margin: 20px;
    padding: 20px;
}
.experience img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.experience a{
    text-decoration: none;
}
.experience a{
    border: 1px solid rgb(83, 83, 11);
    margin-top: 15px;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    display: none;
    color: white;
}
.vaultofcode a{
    background-color: rgb(176, 68, 68);
}
.cognifyz a{
     background-color: rgb(43, 115, 209);
}
.future-interns a{
    background-color: rgb(77, 174, 48);
}
.vaultofcode a:hover{
    background-color: rgba(176, 68, 68, 0.701);
    color: white;
}
.cognifyz a:hover{
    background-color: rgba(43, 115, 209, 0.712);
    color: white;
}
.future-interns a:hover{
    background-color: rgba(77, 174, 48, 0.69);
    color: white;
}
.vaultofcode:hover{
    box-shadow: 2px 2px 2px 2px red;
    padding: 20px;
    border-radius: 20px;
}
.cognifyz:hover{
    box-shadow: 2px 2px 2px 2px orange;
    padding: 20px;
    border-radius: 20px;
}
.future-interns:hover{
    box-shadow: 2px 2px 2px 2px green;
    padding: 20px;
    border-radius: 20px;
}
.experience:hover a{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
.heading i{
    color: black;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 20px;
}
.heading i:hover{
    color: rgb(193, 173, 60);
}
.heading h1,h1{
    text-align: center;
    padding: 20px;
}
/* meadia quries for responsive page*/
@media screen and (max-width:950px){
    .menu-bar{
    display: block;
    margin-right: 1rem;
    font-size: larger;
}
.nav-links a{
    text-decoration: underline;
   margin: 0 1rem 0 1rem;
    
}
.nav-bar a:hover {
    background-color: rgb(181, 243, 143);
    padding: .1rem;
    border-radius: 40px;
}
.nav-links{
      border: 1px solid rgb(84, 141, 6);
   margin-right: 2rem;
      background-color: rgba(144, 249, 95, 0.636);
         width: 100px;
        left: auto;
        right: 15px;
        margin: 0;
        top: 55px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 20px;
}
.nav-links{
   display: none;
}
.menu-links{
    display: block;
}
    main {
    display: flex;
    flex-direction:column-reverse;
    justify-content: space-between;
    margin: 3rem;
}
main img{
    position: relative;
   left: 150px;
   margin: 1rem;
   margin-top: 3rem;

}
.content h1{
    display: none;
}
.image h1{
    display: block;
}
.heading {
    font-size: 1.2rem;

}

}
@media screen and (max-width:550px){
    main img{
   position:relative;
   left: 3rem;
   right: auto;

   width: 60%;
   

}
main button{
     position: relative;
   left: auto;
   width: 60%;
    
}
.contact-info{
    
    width:400px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.contact-info input,textarea{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.contact .profile{
    padding: 1rem;
}
.contact img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px;
}

.profile{
    padding: 2px;
    padding-top: 1px;
}
.profile h3{
    margin-top: 1.5rem;
}

.contact-heading{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    text-align: center;
}
form label{
    line-height: 3rem;
    font-size: 1.3rem;
    text-align: left;

} 
.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.contact-info input,textarea{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
#submit-msg{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(31, 241, 16);
    border: 3px rgb(43, 109, 8);
    border-radius: 10px;
    box-shadow: 2px 3px 3px 2px rgb(78, 201, 7);
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
}
#submit-msg:active{
    box-shadow:  0 0 0 0;
}

}
